<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
      
      <div class="container">
        <h1>Edit Data Karakter</h1>
        <form action="/arabic/<%= arabicChar.id %>?_method=PUT" method="post">
            <input class="form-control mt-4" type="text" placeholder="Nama arabic" name="name" value="<%= arabicChar.name %>">
            <input class="form-control mt-4" type="text" placeholder="Unicode" name="unicode" value="<%= arabicChar.unicode %>">
            <select class="form-select mt-4" name="type">
              <option>-- Pilih Tipe --</option>
              <option value="tanda" <% if(arabicChar.type == 'tanda') { %> selected <% } %>>Tanda</option>
              <option value="huruf" <% if(arabicChar.type == 'huruf') { %> selected <% } %>>Huruf</option>
              <option value="angka" <% if(arabicChar.type == 'angka') { %> selected <% } %>>Angka</option>
            </select>
            <button type="submit" class="btn btn-primary mt-4">Submit</button>
        </form>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>