<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/css/panel.css">
  <link rel="stylesheet" href="/styles/css/keyboard.css">
  <title>Keyboard Arab</title>
</head>

<body>
  <div class="panel">
  </div>
  <div class="keyboard">
    <div class="key multi-value btn-bt">
      <div class="key-info">
        <span class="indicator">`</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value"><%= '\u0623' %></div>
    </div>
    <div class="key multi-value btn-n1">
      <div class="key-info">
        <span class="indicator">1</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">1</div>
    </div>
    <div class="key multi-value btn-n2">
      <div class="key-info">
        <span class="indicator">2</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">2</div>
    </div>
    <div class="key multi-value btn-n3">
      <div class="key-info">
        <span class="indicator">3</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">3</div>
    </div>
    <div class="key multi-value btn-n4">
      <div class="key-info">
        <span class="indicator">4</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">4</div>
    </div>
    <div class="key multi-value btn-n5">
      <div class="key-info">
        <span class="indicator">5</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">5</div>
    </div>
    <div class="key multi-value btn-n6">
      <div class="key-info">
        <span class="indicator">6</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">6</div>
    </div>
    <div class="key multi-value btn-n7">
      <div class="key-info">
        <span class="indicator">7</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">7</div>
    </div>
    <div class="key multi-value btn-n8">
      <div class="key-info">
        <span class="indicator">8</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">8</div>
    </div>
    <div class="key multi-value btn-n9">
      <div class="key-info">
        <span class="indicator">9</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">9</div>
    </div>
    <div class="key multi-value btn-n0">
      <div class="key-info">
        <span class="indicator">0</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">0</div>
    </div>
    <div class="key multi-value btn-min">
      <div class="key-info">
        <span class="indicator">-</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">-</div>
    </div>
    <div class="key multi-value btn-es">
      <div class="key-info">
        <span class="indicator">=</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">=</div>
    </div>
    <div class="key btn-bs">
      <div class="main-value">Backspace</div>
    </div>
    <div class="key btn-dlt">
      <div class="main-value">Delete</div>
    </div>
    <div class="key btn-tab">
      <div class="main-value">Tab</div>
    </div>
    <div class="key multi-value btn-q">
      <div class="key-info">
        <span class="indicator">Q</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">Q</div>
    </div>
    <div class="key multi-value btn-w">
      <div class="key-info">
        <span class="indicator">W</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">W</div>
    </div>
    <div class="key multi-value btn-e">
      <div class="key-info">
        <span class="indicator">E</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">E</div>
    </div>
    <div class="key multi-value btn-r">
      <div class="key-info">
        <span class="indicator">R</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">R</div>
    </div>
    <div class="key multi-value btn-t">
      <div class="key-info">
        <span class="indicator">T</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">T</div>
    </div>
    <div class="key multi-value btn-y">
      <div class="key-info">
        <span class="indicator">Y</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">Y</div>
    </div>
    <div class="key multi-value btn-u">
      <div class="key-info">
        <span class="indicator">U</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">U</div>
    </div>
    <div class="key multi-value btn-i">
      <div class="key-info">
        <span class="indicator">I</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">I</div>
    </div>
    <div class="key multi-value btn-o">
      <div class="key-info">
        <span class="indicator">O</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">O</div>
    </div>
    <div class="key multi-value btn-p">
      <div class="key-info">
        <span class="indicator">P</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">P</div>
    </div>
    <div class="key multi-value btn-lsb">
      <div class="key-info">
        <span class="indicator">[</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">[</div>
    </div>
    <div class="key multi-value btn-rsb">
      <div class="key-info">
        <span class="indicator">]</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">]</div>
    </div>
    <div class="key btn-enter">
      <div class="main-value">Enter</div>
    </div>
    <div class="key btn-pu">
      <div class="main-value">PgUp</div>
    </div>
    <div class="key btn-cl">
      <div class="main-value">CapsLock</div>
    </div>
    <div class="key multi-value btn-a">
      <div class="key-info">
        <span class="indicator">A</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">A</div>
    </div>
    <div class="key multi-value btn-s">
      <div class="key-info">
        <span class="indicator">S</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">S</div>
    </div>
    <div class="key multi-value btn-d">
      <div class="key-info">
        <span class="indicator">D</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">D</div>
    </div>
    <div class="key multi-value btn-f">
      <div class="key-info">
        <span class="indicator">F</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">F</div>
    </div>
    <div class="key multi-value btn-g">
      <div class="key-info">
        <span class="indicator">G</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">G</div>
    </div>
    <div class="key multi-value btn-h">
      <div class="key-info">
        <span class="indicator">H</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">H</div>
    </div>
    <div class="key multi-value btn-j">
      <div class="key-info">
        <span class="indicator">J</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">J</div>
    </div>
    <div class="key multi-value btn-k">
      <div class="key-info">
        <span class="indicator">K</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">K</div>
    </div>
    <div class="key multi-value btn-l">
      <div class="key-info">
        <span class="indicator">L</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">L</div>
    </div>
    <div class="key multi-value btn-sc">
      <div class="key-info">
        <span class="indicator">;</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">;</div>
    </div>
    <div class="key multi-value btn-sq">
      <div class="key-info">
        <span class="indicator">'</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">'</div>
    </div>
    <div class="key multi-value btn-bsl">
      <div class="key-info">
        <span class="indicator">\</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">\</div>
    </div>
    <div class="key btn-pd">
      <div class="main-value">PgDn</div>
    </div>
    <div class="key btn-ls">
      <div class="main-value">Shift</div>
    </div>
    <div class="key multi-value btn-z">
      <div class="key-info">
        <span class="indicator">Z</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">Z</div>
    </div>
    <div class="key multi-value btn-x">
      <div class="key-info">
        <span class="indicator">X</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">X</div>
    </div>
    <div class="key multi-value btn-c">
      <div class="key-info">
        <span class="indicator">C</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">C</div>
    </div>
    <div class="key multi-value btn-v">
      <div class="key-info">
        <span class="indicator">V</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">V</div>
    </div>
    <div class="key multi-value btn-b">
      <div class="key-info">
        <span class="indicator">B</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">B</div>
    </div>
    <div class="key multi-value btn-n">
      <div class="key-info">
        <span class="indicator">N</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">N</div>
    </div>
    <div class="key multi-value btn-m">
      <div class="key-info">
        <span class="indicator">M</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">M</div>
    </div>
    <div class="key multi-value btn-comma">
      <div class="key-info">
        <span class="indicator">,</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">,</div>
    </div>
    <div class="key multi-value btn-dot">
      <div class="key-info">
        <span class="indicator">.</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">.</div>
    </div>
    <div class="key multi-value btn-sl">
      <div class="key-info">
        <span class="indicator">/</span>
        <span class="second-value">ظ</span>
      </div>
      <div class="main-value">/</div>
    </div>
    <div class="key btn-rs">
      <div class="main-value">Shift</div>
    </div>
    <div class="key btn-home">
      <div class="main-value">Home</div>
    </div>
    <div class="key btn-up">
      <div class="main-value">Up</div>
    </div>
    <div class="key btn-end">
      <div class="main-value">End</div>
    </div>
    <div class="key btn-fn">
      <div class="main-value">Fn</div>
    </div>
    <div class="key btn-lctrl">
      <div class="main-value">Ctrl</div>
    </div>
    <div class="key btn-win">
      <div class="main-value">Win</div>
    </div>
    <div class="key btn-lalt">
      <div class="main-value">Alt</div>
    </div>
    <div class="key btn-spc">
      <div class="main-value">Space</div>
    </div>
    <div class="key btn-ralt">
      <div class="main-value">Alt</div>
    </div>
    <div class="key btn-psc">
      <div class="main-value">PrtSc</div>
    </div>
    <div class="key btn-rctrl">
      <div class="main-value">Ctrl</div>
    </div>
    <div class="key btn-left">
      <div class="main-value">Left</div>
    </div>
    <div class="key btn-down">
      <div class="main-value">Down</div>
    </div>
    <div class="key btn-right">
      <div class="main-value">Right</div>
    </div>
  </div>
</body>

</html>